<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet' href='/assets/styles/main.min.css')
    script(src='/assets/scripts/fontawesome-all.js')
    title Nitto
  body
    .wrapper
      header.header
        .container.header-container
          .logo
            svg.logo__img
              use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo-head")
          .header-menu
            ul.header-menu__list
              li.header-menu__item.header-menu__item-active
                a.header-menu__link Зимние шины
              li.header-menu__item
                a.header-menu__link Летние шины
              li.header-menu__item
                a.header-menu__link Найти магазин
              li.header-menu__item
                a.header-menu__link
                  span.header-menu__link-text О компании
                  .arrow                  
            .nav-elemets
              .nav-elements__item.nav-elements__item-pin
                i.fas.fa-map-marker-alt
              .nav-elements__item.nav-elements__item-search
                i.fas.fa-search         
      .banner
        .breadcrumbs
          .container.breadcrumbs-container
            a.breadcrumbs__link Главная
            a.breadcrumbs__link Каталог
            a.breadcrumbs__link Внедорожные, летние
            a.breadcrumbs__link.breadcrumbs__link-active NT420S 275/60 R17 110V
        .container.banner-container
          .banner-info
            .banner-info__logo
              svg.banner-info__img
                use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#tire-logo")
            .banner-info__numbers
              ul.banner-info__stars
                li.banner-info__star
                  svg.banner-info__star-img.banner-info__star-img-active
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#star-active")
                li.banner-info__star
                  svg.banner-info__star-img.banner-info__star-img-active
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#star-active")
                li.banner-info__star
                  svg.banner-info__star-img.banner-info__star-img-active
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#star-active")
                li.banner-info__star
                  svg.banner-info__star-img.banner-info__star-img-active
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#star-active")
                li.banner-info__star
                  svg.banner-info__star-img
                    use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#star")
              .banner-info__score 4,4 из  5
              a.banner-info__feedback 23 отзыва
            h1.banner-info__heading Высокопроизводительные шины для автомобилей класса SUV
            p.banner-info__text Эта модель отличается стильным и функциональным асимметричным рисунком протектора, который обеспечивает тихую и комфортную езду. Кроме того, NT420S допускают перекрестную ротацию, которая способствует более равномерному износу и помогает продлить срок службы
            .banner-info__button
              a.banner-info__button-text Выбрать магазин
          .banner-pic
            img.banner-pic__image(src='assets/images/banner-tire.png')
            .banner-pic__turn-icon
              svg.banner-info__star-img.banner-info__star-img-active
                use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#360turn")
      .main-content
        .container
          .product-header
            h2.product-header__heading NT420S 275/60 R17 110V
            .product-header-filter
              .product-header-filter__picture
                svg.product-header-filter__img
                  use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#filter")
              span.product-header-filter__text Воспользоваться фильтром
          .product
            .product-picture
              img.product-picture__img(src="assets/images/product-card.png")  
            .product-info
              .product-info-car
                .product-info-car__icons
                  .product-info-car__icon
                    svg.product-info-car__icon-img.product-info-car__icon-img-sun
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#sun")
                  .product-info-car__icon
                    svg.product-info-car__icon-img.product-info-car__icon-img-truck
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#car")
                .product-info-car__desc
                  ul.product-info-car__params-list
                    li.product-info-car__params-item Тип авто:
                    li.product-info-car__params-item Сезонность:
                    li.product-info-car__params-item Размер:
                    li.product-info-car__params-item Особенность:
                    li.product-info-car__params-item Рисунок протектора:
                  ul.product-info-car__value-list
                    li.product-info-car__value-item SUV
                    li.product-info-car__value-item Летняя
                    li.product-info-car__value-item 275/60 R17 110V
                    li.product-info-car__value-item Комфортные
                    li.product-info-car__value-item Асимметричный, ненаправленный 
              .product-info-dealer
                span.product-info-dealer__param Дилер:
                span.product-info-dealer__name Шин сервис
                a.product-info-dealer__supply Все предложения
              .row
                .product-info-dealer__options.product-info-dealer__options-1
                  .product-info-dealer__options-icon
                    svg.product-info-dealer__options-icon-img
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#truck")
                  span.product-info-dealer__options-text Бесплатно, 1-3 дня
                .product-info-dealer__options.product-info-dealer__options-2
                  .product-info-dealer__options-icon
                    svg.product-info-dealer__options-icon-img
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#wheel")
                  span.product-info-dealer__options-text Шиномонтаж бесплатно
              .row.row-last
                .product-info-dealer__options.product-info-dealer__options-3
                  .product-info-dealer__options-icon
                    svg.product-info-dealer__options-icon-img
                      use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#pin")
                  span.product-info-dealer__options-text Самовывоз
              .product-info-purchase
                .product-info-purchase__quantity
                  .product-info-purchase__quantity-text Количество:
                  .quantity
                    input.quantity__minus(type='button' value='-' class='qtyminus' field='quantity')
                    input.quantity__number(type='text' name='quantity' value='0' class='qty')
                    input.quantity__plus(type='button' value='+' class='qtyplus' field='quantity')
                  .product-info-purchase__cost
                    .product-info-purchase__cost-text Цена:
                    .product-info-purchase__cost-amount 12 730 ₽
                .product-info-purchase__overall
                  .product-info-purchase__overall-text Сумма:
                  .product-info-purchase__overall-amount 50 920 ₽
                .product-info-purchase__button
                  .product-info-purchase__button-text Купить
          .product-options
            ul.product-options__list
              li.product-options__item
                a.product-options__link Типоразмеры
              li.product-options__item.product-options__item-selected
                a.product-options__link Дилеры
                .product-options__underline
              li.product-options__item
                a.product-options__link Описание
              li.product-options__item
                a.product-options__link Отзывы
          .contacts
            .contacts-info
              .contacts-info__filter
                h2.contacts-info__heading Магазины и центры, где есть:
                ul.contacts-info__list
                  li.contacts-info__item
                    input.contacts-info__checkbox.css-checkbox(type="checkbox" id='check1')
                    label.contacts-info__label.css-label(for='check1') Самовывоз
                  li.contacts-info__item
                    input.contacts-info__checkbox.css-checkbox(type="checkbox" id='check2')
                    label.contacts-info__label.css-label(for='check2') Доставка
                  li.contacts-info__item
                    input.contacts-info__checkbox.css-checkbox(type="checkbox" id='check3')
                    label.contacts-info__label.css-label(for='check3') Шиномонтаж бесплатно
              .contacts-info__locations
                ul.contacts-info__location-list
                  li.contacts-info__location
                    h2.contacts-info__location-name Emex - Автозапчасти
                    p.contacts-info__location-address г.Москва, ул. Генерала Белобородова, вл.40 к.2
                    .contact-info__buy
                      span.contacts-info__location-amount 12 503 ₽
                      .contacts-info__location-button
                        span.contacts-info__location-button-text Купить
                  li.contacts-info__location
                    h2.contacts-info__location-name Шин сервис
                    p.contacts-info__location-address г.Москва, ул. Генерала Белобородова, вл.40 к.2
                    .contact-info__buy
                      span.contacts-info__location-amount 12 503 ₽
                      .contacts-info__location-button
                        span.contacts-info__location-button-text Купить
            .contacts-map
              ul.contacts-map__legend
                li.contacts-map__legend-item
                  .contacts-map__legend-picture.contacts-map__legend-picture-official
                  span.contacts-map__legend-text — Официальный дилер
                li.contacts-map__legend-item
                  .contacts-map__legend-picture.contacts-map__legend-picture-partner
                  span.contacts-map__legend-text — Дилер-партнер
              img.yandex-map(src="assets/images/map.png")
          .recommended
            h2.recommended__heading Похожие шины
            ul.recommended__list
              li.recommended__item
                .recommended__tech-info
                  .recommended__picture
                    img.recommended__img(src="assets/images/nt860.png")
                  span.recommended__title NT 860
                  .recommended__diameter
                    .recommended__diameter-icon
                    span.recommended__diameter-text Диаметр шин: Ø15 — Ø20
                p.recommended__info NT860 - шина для легковых автомобилей, которая обеспечит максимально комфортную и тихую езду, низкий износ и оптимальные сцепные характеристики на всех типах дорожных покрытий.
                a.recommended__button Подробнее
              li.recommended__item
                .recommended__tech-info
                  .recommended__picture
                    img.recommended__img(src="assets/images/nt830.png")
                  span.recommended__title NT 830
                  .recommended__diameter
                    .recommended__diameter-icon
                    span.recommended__diameter-text Диаметр шин: Ø15 — Ø20
                p.recommended__info Шины NT830 — шины со сверхвысокими ходовыми качествами, разработанные для комфортного вождения на сухой и мокрой дороге, с минимальным шумом и максимальной безопасностью.
                a.recommended__button Подробнее
              li.recommended__item
                .recommended__tech-info
                  .recommended__picture
                    img.recommended__img(src="assets/images/dura.png")
                  span.recommended__title Dura Grappler®
                  .recommended__diameter
                    .recommended__diameter-icon
                    span.recommended__diameter-text Диаметр шин: Ø15 — Ø20
                p.recommended__info Шины Dura Grappler — созданы для езды по автомагистрали.
                a.recommended__button Подробнее
      footer.footer
        .container.footer-container
          .footer__copyright
            .footer__logo
              svg.footer__logo-img
                use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#logo-footer")
            .footer__nitto-copyright Nitto Tires © 2017
            .footer-developer
              .footer-developer-logo
                svg.footer__developer-img
                  use(xlink:href="assets/svg/symbol/svg/sprite.symbol.svg#redsoft")
              a.footer-developer-link Разработка сайта: Redsoft
          .footer__catalog
            .footer__heading Каталог
            ul.footer__list
              li.footer__item
                a.footer__link Зимние
              li.footer__item
                a.footer__link Летние
              li.footer__item
                a.footer__link Подбор шин
              li.footer__item
                img.footer__item-img
                a.footer__link Найти магазин
          .footer__info
            .footer__heading Информация
            ul.footer__list
              li.footer__item
                a.footer__link Инструкция
              li.footer__item
                a.footer__link О бренде
              li.footer__item
                a.footer__link Новости
              li.footer__item
                a.footer__link Контакты
              li.footer__item
                a.footer__link Политика конфиденциальности
          .footer__social
            .footer__heading Мы в соцсетях
            a.footer__social-link
              i.fab.fa-vk.footer__social-img
            a.footer__social-link
              i.fab.fa-instagram.footer__social-img
            a.footer__social-link
              i.fab.fa-youtube.footer__social-img
            a.footer__social-link
              i.fab.fa-facebook-f.footer__social-img
  script(src='assets/scripts/jquery-3.3.1.min.js')
  script(src='assets/scripts/jquery.fancybox.min.js')
  script(src='assets/scripts/main.js')



          

