//wrapper and container
.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    max-width: rem(1160px);
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    width: 98%;
}

//header
.header {
    height: rem(80px);
    background-color: white;
    display: flex;
}

.header-container {
    flex-direction: row;
}

.logo {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* margin-right: rem(180px); */
}

.logo__img {
    width: rem(260px);
    height: rem(24px);
}

.header-menu {
    /* align-items: center; */
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}

.header-menu__list {
    display: flex;
    justify-content: space-between;
    font-family: 'GothamPro-Medium', Arial, Helvetica, sans-serif;
    max-width: rem(610px);
    width: 100%;
    @include netbooks {
        margin-right: rem(20px);
    }
}

.header-menu__item {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    justify-content: center;
    &:last-child {
        text-align: center;
    }
    &:first-child {
        padding-top: 0;
    }
}

.header-menu__item-active {
    padding-top: 0;
    padding-bottom: 2px;
    color: #eb2d2e;
    &::before {
        background: #ffffff;
        background: -moz-linear-gradient(left, #ffffff 0%, #eb2d2e 40%, #eb2d2e 60%, #ffffff 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(40%, #eb2d2e), color-stop(60%, #eb2d2e), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(left, #ffffff 0%, #eb2d2e 40%, #eb2d2e 60%, #ffffff 100%);
        background: -o-linear-gradient(left, #ffffff 0%, #eb2d2e 40%, #eb2d2e 60%, #ffffff 100%);
        background: -ms-linear-gradient(left, #ffffff 0%, #eb2d2e 40%, #eb2d2e 60%, #ffffff 100%);
        background: linear-gradient(to right, #ffffff 0%, #eb2d2e 40%, #eb2d2e 60%, #ffffff 100%);
        content: "";
        display: block;
        height: 2px;
        width: 100%;
    }
    .header-menu__link {
        padding-top: rem(25px);
    }
    .arrow {
        border-top: 5px solid #eb2d2e;
    }
}

.header-menu__link {
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    padding-top: rem(27px);
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    margin-left: rem(5px);
    margin-top: rem(10px);
}

.nav-elemets {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-elements__item {
    margin-right: rem(40px);
    &:last-child {
        margin-right: 0;
    }
    @include netbooks {
        margin-right: rem(20px);
    }
}

.fas {
    width: 100%;
    height: 100%;
}

//banner
.banner {
    height: rem(657px);
    background: url(../images/background.png) center center no-repeat;
}

.breadcrumbs {
    width: 100%;
    height: rem(41px);
    background: rgba(#ffffff, 0.5);
}

.breadcrumbs-container {
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

.breadcrumbs__link {
    align-items: center;
    display: flex;
    color: #404041;
    position: relative;
    font-family: 'GothamPro', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    &::after {
        content: '>';
        font-size: 12px;
        margin: 0 6px 0 6px;
    }
    &:last-child {
        &::after {
            content: "";
            margin: 0;
        }
    }
}

.breadcrumbs__link-active {
    color: black;
    font-weight: bold;
}

.banner-container {
    flex-direction: row;
    height: calc(100% - 41px);
}

.banner-info {
    margin-top: rem(97px);
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    color: white;
    max-width: rem(463px);
    flex-grow: 1;
}

.banner-info__numbers {
    display: flex;
    margin-bottom: rem(20px);
}

.banner-info__stars {
    display: flex;
    align-items: center;
    margin-right: rem(20px);
}

.banner-info__star {
    width: rem(17px);
    height: rem(16px);
    margin-right: rem(8px);
    &:last-child {
        margin: 0;
    }
}

.banner-info__star-img {
    width: 100%;
    height: 100%;
}

.banner-info__logo {
    width: rem(463px);
    height: rem(33px);
    margin-bottom: rem(35px);
}

.banner-info__img {
    width: 100%;
    height: 100%;
}

.banner-info__score {
    margin-right: rem(6px);
}

.banner-info__heading {
    margin: 0;
    font-size: rem(24px);
    margin-bottom: rem(13px);
}

.banner-info__text {
    margin: 0;
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    margin-bottom: rem(25px);
}

.banner-info__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    border-radius: 35.5px;
    background-color: #eb373b;
    box-shadow: 0 4px 6px 0 rgba(235, 55, 59, 0.3);
}

.banner-pic {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: rem(170px);
    flex-direction: column;
    margin-top: rem(98px);
}

.banner-pic__image {
    width: rem(349px);
    height: rem(444px);
}

.banner-pic__turn-icon {
    width: rem(60px);
    height: rem(39px);
}

//product
.product {
    display: flex;
    margin-bottom: rem(35px);
}

.product-header {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    margin-top: rem(60px);
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(33px);
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: rem(40px);
}

.product-header__heading {
    margin: 0;
    font-size: rem(36px);
}

.product-header-filter {
    display: flex;
    align-items: flex-end;
}

.product-header-filter__text {
    font-size: rem(18px);
}

.product-header-filter__picture {
    margin-bottom: 7px;
    margin-right: 18px;
    width: rem(24px);
    height: rem(16px);
}

.product-header-filter__img {
    width: 100%;
    height: 100%;
}

.product-picture {
    display: flex;
    width: rem(659px);
    height: rem(673px);
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    border: solid 1px #d7d8d7;
    margin-right: rem(40px);
}

.product-picture__img {
    width: rem(319px);
    height: rem(567px);
}

.product-info-car {
    border-bottom: 1px solid #d7d8d7;
}

.product-info-car__icon {
    margin-right: rem(20px);
}

.product-info-car__icons {
    display: flex;
    align-items: center;
    margin-bottom: rem(17px);
}

.product-info-car__icon-img-sun {
    width: rem(24px);
    height: rem(24px);
}

.product-info-car__icon-img-truck {
    width: rem(34px);
    height: rem(14px);
}

.product-info-car__desc {
    display: flex;
    margin-bottom: rem(25px);
    font-size: rem(16px);
}

.product-info-car__params-list {
    margin-right: rem(18px);
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    min-width: rem(182px);
}

.product-info-car__value-list {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
}

.product-info-car__params-item {
    margin-bottom: rem(18px);
}

.product-info-car__value-item {
    margin-bottom: rem(18px);
    &:last-child {
        margin-bottom: 0;
    }
}

.product-info-dealer {
    margin-top: rem(22px);
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    margin-bottom: rem(23px);
}

.product-info-dealer__param {
    font-size: rem(16px);
    margin-right: rem(4px);
}

.product-info-dealer__name {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
}

.product-info-dealer__supply {
    float: right;
    font-size: rem(14px);
    text-decoration: underline;
    opacity: 0.4;
}

.product-info-dealer__options {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    display: flex;
    flex-wrap: wrap;
}

.product-info-dealer__options-icon-img {
    height: rem(16px);
    width: rem(28px);
}

.product-info-dealer__options-icon {
    display: flex;
    align-items: center;
    margin-right: rem(18px);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(23px);
}

.row-last {
    margin-bottom: rem(26px);
}

.product-info-purchase {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    width: rem(460px);
    height: rem(233px);
    background-color: $grey;
    border-radius: 4px;
    padding-left: rem(29px);
    padding-right: rem(22px);
}

.product-info-purchase__quantity {
    display: flex;
    height: rem(72px);
    align-items: center;
    border-bottom: solid 1px #d2d2d2;
}

.product-info-purchase__overall {
    display: flex;
    align-items: center;
    height: rem(69px);
}

.product-info-purchase__cost {
    display: flex;
}

.product-info-purchase__quantity-text {
    margin-right: rem(18px);
}

.quantity {
    display: flex;
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: solid 1px #e8e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: rem(35px);
}

.quantity__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(24px);
    height: rem(20px);
    border: none;
    border-right: solid 1px #ebeaea;
    border-left: solid 1px #ebeaea;
    outline: none;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=button] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.quantity__minus,
.quantity__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    outline: none;
}

.quantity__minus-img,
.quantity__plus-img {
    width: rem(7px);
    height: rem(7px);
}

.product-info-purchase__overall {
    display: flex;
    justify-content: space-between;
}

.product-info-purchase__button {
    height: rem(92px);
    display: flex;
    justify-content: center;
}

.product-info-purchase__button-text {
    width: rem(399px);
    height: rem(60px);
    border-radius: 35.5px;
    background-color: #eb373b;
    box-shadow: 0 4px 6px 0 rgba(235, 55, 59, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: rem(16px);
}

.product-info-purchase__cost-text {
    margin-right: rem(30px);
}

//product options
.product-options {
    margin-bottom: rem(35px);
}

.product-options__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: rem(46px);
    border-bottom: solid 1px #d2d2d2;
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    line-height: rem(24px);
    color: #404041;
}

.product-options__item {
    width: rem(290px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-options__item-selected {
    font-size: rem(24px);
    color: black;
    .product-options__underline {
        width: 290px;
        height: 6px;
        border-radius: 4px;
        background-color: #eb4248;
        align-self: flex-end;
    }
}

.product-options__link {
    display: flex;
    justify-content: center;
}

//contacts
.contacts {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(55px);
}

.contacts-info {
    width: rem(380px);
    border-right: solid 1px #d2d2d2;
}

.contacts-info__heading {
    margin: 0;
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
    margin-bottom: rem(16px);
}

.contacts-info__filter {
    margin-bottom: rem(27px);
    border-bottom: solid 1px #d2d2d2;
}

.contacts-info__item {
    margin-bottom: rem(16px);
}

.contacts-info__label {
    padding-left: rem(20px);
}

input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 40px;
    height: 20px;
    display: inline-flex;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    align-items: center;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -20px;
}

label.css-label {
    background-image: url(../images/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contacts-info__locations {}

.contacts-info__location-list {
    max-height: rem(510px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        border: 2px solid #8b8b8b;
    }
}

.contacts-info__location {
    width: 360px;
    height: 187px;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 25px 40px 30px 29px;
    margin-bottom: rem(20px);
    margin-right: rem(18px);
    &:last-child {
        margin: 0;
    }
}

.contacts-info__location-button-text {
    width: 151px;
    height: 40px;
    border-radius: 35.5px;
    background-color: #eb373b;
    box-shadow: 0 2px 5px 0 rgba(235, 55, 59, 0.3);
}

.contacts-info__location-name {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    margin: 0;
    margin-bottom: rem(10px);
}

.contacts-info__location-address {
    margin: 0;
    font-size: rem(14px);
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    margin-bottom: rem(13px);
}

.contacts-info__location-amount {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
}

.contact-info__buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts-info__location-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
}

.contacts-map {
    margin-left: rem(20px);
}

.contacts-map__legend-picture {
    margin-right: rem(9px);
}

.contacts-map__legend-picture-official {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: 5px solid $red;
}

.contacts-map__legend-picture-partner {
    width: 10px;
    height: 10px;
    background-color: $red;
    border-radius: 50%;
}

.contacts-map__legend {
    display: flex;
    flex-direction: row;
    margin-bottom: rem(28px);
}

.contacts-map__legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: rem(24px);
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
}

//reccomended
.recommended {
    margin-bottom: rem(80px);
    padding-right: rem(5px);
    padding-left: rem(5px);
}

.recommended__heading {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(24px);
    margin: 0;
    margin-bottom: rem(28px);
}

.recommended__list {
    display: flex;
    justify-content: space-between;
}

.recommended__item {
    width: rem(360px);
    height: rem(525px);
    display: flex;
    flex-direction: column;
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    line-height: rem(24px);
    justify-content: space-between;
    padding-bottom: rem(60px);
    @include netbooks {
        width: rem(320px);
    }
}

.recommended__img {
    width: rem(170px);
    height: rem(220px);
    margin-top: rem(30px);
}

.recommended__title {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    line-height: rem(24px);
    padding-left: rem(29px);
    padding-right: rem(29px);
    @include netbooks {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}

.recommended__diameter {
    padding-left: rem(29px);
    padding-right: rem(29px);
    @include netbooks {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}

.recommended__button {
    width: rem(360px);
    height: rem(60px);
    background-color: $red;
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;
    display: none;
    @include netbooks {
        width: rem(320px);
    }
}

.recommended__picture {
    display: flex;
    justify-content: center;
}

.recommended__info {
    padding-left: rem(29px);
    padding-right: rem(29px);
    height: rem(144px);
    @include netbooks {
        padding-left: rem(20px);
        padding-right: rem(20px);
    }
}

.recommended__item-activated {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding-bottom: 0;
    .recommended__button {
        display: flex;
    }
}

//footer
.footer {
    height: 260px;
    border-top: solid 1px #a3a3a3;
    font-family: "GothamPro-Light", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    line-height: rem(24px);
}

.footer-container {
    padding-top: rem(40px);
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    width: rem(260px);
    height: rem(24px);
    margin-bottom: rem(45px);
}

.footer__logo-img {
    width: 100%;
    height: 100%;
}

.footer__nitto-copyright {
    margin-bottom: rem(60px);
}

.footer__heading {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    line-height: rem(40px);
}

.footer__social-link {
    display: inline-flex;
    margin-right: rem(30px);
    width: rem(20px);
    height: rem(20px);
}

.footer-developer-logo {
    width: rem(22px);
    height: rem(22px);
    margin-right: rem(8px);
}

.footer__developer-img {
    width: 100%;
    height: 100%;
}

.footer-developer {
    display: flex;
    align-items: center;
}

.footer-developer-link {
    width: rem(122px);
    font-size: rem(10px);
    line-height: rem(14px);
}

.footer__social-img {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.pop-up {
    width: rem(660px);
    padding: 32px 35px 40px 39px;
    border-radius: 4px;
    background-color: #ffffff;
    display: none;
    position: relative;
}

.close {
    align-self: right;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    font-size: 0;
    margin-top: rem(10px);
    margin-right: rem(5px);
    display: flex;
    align-items: right;
    cursor: pointer;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: -3px;
        width: 18px;
        height: 3px;
        background-color: #d2d2d2;
        border-radius: 3px;
        transform: rotate(45deg);
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        left: -3px;
        width: 18px;
        height: 3px;
        background-color: #d2d2d2;
        border-radius: 3px;
        transform: rotate(-45deg);
        color: initial;
        font-weight: 300;
        text-align: initial;
        border-width: initial;
    }
}

.pop-up__heading {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    line-height: rem(24px);
    margin: 0;
    margin-bottom: rem(26px);
}

.store {
    display: flex;
    flex-direction: column;
}

.store-info {
    display: flex;
    padding-bottom: rem(30px);
    border-bottom: solid 1px #d2d2d2;
}

.store-picture {
    width: rem(339px);
    height: rem(220px);
    margin-right: rem(39px);
}

.store-img {
    width: 100%;
    height: 100%;
}

.store-info__desc {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
    max-width: rem(208px);
}

.store-services__heading {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
    margin: 0;
    margin-bottom: rem(19px);
}

.store-services {
    margin-top: rem(21px);
    border-bottom: solid 1px #d2d2d2;
}

.store-service {
    display: flex;
    align-items: center;
    padding-bottom: rem(30px);
}

.store-service__pic {
    width: rem(28px);
    height: rem(15px);
    margin-right: rem(21px);
}

.store-service__img {
    width: 100%;
    height: 100%;
}

.store-service__text {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
}

.store-buy {
    display: flex;
    justify-content: space-between;
    margin-top: rem(21px);
    align-items: center;
}

.store-buy__summary {
    display: flex;
    align-items: center;
}

.store-buy__cost {
    margin-right: rem(38px);
}

.store-buy__model {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
    max-width: rem(223px);
}

.store-buy__cost {
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    line-height: rem(24px);
}

.store-buy__button {
    width: rem(200px);
    height: rem(40px);
    border-radius: 35.5px;
    background-color: #eb373b;
    box-shadow: 0 2px 5px 0 rgba(235, 55, 59, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "GothamPro-Medium", Arial, Helvetica, sans-serif;
    font-size: rem(14px);
}

.button {
    &:hover {
        background-color: red;
    }
}