html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-size: rem(16px);
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    cursor: pointer;
}