@font-face {
    font-family: 'GothamPro';
    src: url('../webfonts/GothamPro.woff') format('woff');
}

@font-face {
    font-family: 'GothamPro-Medium';
    src: url('../webfonts/GothamPro-Medium.woff') format('woff');
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('../webfonts/GothamPro-Light.woff') format('woff');
}